@*@page
@model AspNetCore_ProyectoEscuela.Views.Escuela.IndexModel*@

@model Escuela

@{
    ViewData["Title"] = "Escuela Informatica";
    Layout = "_Layout";
}
    <h1>Escuela @ViewData["Title"]</h1>
    <h2>Nombre: @Model.Nombre </h2>
    <address>
        <p>Direccion: @Model.Direccion</p>
        <p>Pais: @Model.Pais</p>
        <p>Cuidad: @Model.Ciudad</p>
    </address>
    <p><strong>Año Fundación: @Model.AnioDeCreacion </strong></p>

